{% extends 'base.html' %}

{% block title %}Welcome to Ronde Van Praageren 2024!{% endblock %}

{% block content %}
<div class="container">
    <h1>Janek je nejlepší cyklista celého vesmíru</h1>
    <p>TM CC Currywurst</p>
    <div class="strava-embed-placeholder" data-embed-type="route" data-embed-id="3199162964264401098" data-units="metric" data-full-width="true" data-style="standard" data-terrain="3d" data-map-hash="8.96/50.1117/14.3352" data-from-embed="false"></div><script src="https://strava-embeds.com/embed.js"></script>
</div>
{% endblock %}